<li>
    <article class="snippet">
      <img src = "{{ post.data.image }}" alt="{{ post.data.image.Alt }}" class="snippet__image">
      <h3 class="snippet__title"> <a href="{{ post.url }}"> {{ post.data.title }}</a></h3>
      <p class="snippet__meta">by <span>{{ post.data.author }} {{ post.date | postDate }}</span></p>
      {# good reference for dates and other .eleventy.js config samples https://11ty.rocks/eleventyjs/ #}
      <p class="snippet__body">{{ post.data.description }}</p>
      
      <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>
    </article>
  </li>