---
title: Contact
layout: 'base.njk'
---
<h2>Email</h2>
<p><a href="mailto:liz@gingerkiwi.dev">Send me an email at liz@gingerkiwi.dev</a></p>

<h2>LinkedIn</h2>
<a href="https://www.linkedin.com/in/elizabethmccready/">Connect with me on LinkedIn</a>

<h2>GitHub</h2>
<a href="https://github.com/GingerKiwi">View my public repos on Github</a>
<p>Note I tend to keep quite a bit of my self-teaching code in development work work in private repos.</p>