--- 
title: Home 
layout: 'base.njk'
---


    <main>
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to the Ginger Kiwi Blog!</h1>
        <p>Passionate About Full-Stack Web Development, UIUX Design, and Accessibility. | Experienced SEO Content Writer | GingerKiwi | Seeking Challenging Positions With Awesome People.</p>
        <p>I use this space to document my adventures in web development with a focus on disability awareness and coding for accessibilty. I also share my web content writing on a variety of topics including knitting, urban planning, history, travel, the outdoors, and cats.</p>
        <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        <p class="bold-pink">This is a new site (May, 2022). Keep checking back for more article (both old and new) and new site features! </p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog.html" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here's some of my favourite and most recent articles, including ones published elsewhere. More articles are being added during May and Juen 2022.</p>
    <ul role="list" class="articles__list flow"><li>
      {%- for post in collections.featured | reverse -%} 
        {%  include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section> 
    </main>

