---
title: Projects
layout: 'base.njk'
---
   <h2>This Blog</h2>
        <p>My first JAMStack project. Currently migrating some of my older writing and all of the to be published articles from my MacBook to this site.</p>
    
    <h2>How Much Yarn?</h2>

        <p> A vanilla javascript web app that calculates how much yarn a non-knitter will need to buy a knitter for a gift for particular types
of projects and yarn thickness.</p>
